<!DOCTYPE html>
<html>
<head>
    <title>{{ shift_name }} - Employees</title>
</head>
<body>
    <h1>{{ shift_name }} - Select Your Name</h1>
    {% for employee in employees %}
        <form action="{{ url_for('attendance', shift_name=shift_name.lower(), employee_name=employee) }}" method="get">
            <button type="submit">{{ employee }}</button>
        </form>
    {% endfor %}
    <br>
    <form action="{{ url_for('send_email_with_pdf', shift_name=shift_name.lower()) }}" method="post">
        <label>Team leader email: </label>
        <input type="text" name="team_leader_email"><br>
        <button type="submit">send</button>
    </form>
    <br>
    <a href="{{ url_for('home') }}">Back to Shifts</a>
</body>
</html>
